@using StrongerSoftworks.Models

@code {
    [Parameter] public TestimonialsSectionModel TestimonialsData { get; set; }
}

<section id="@(TestimonialsData.Id ?? "testimonials")" class="testimonials section light-background">
    <!-- Section Title -->
    <div class="container section-title">
        <h2>@TestimonialsData.SectionTitle</h2>
        <p>@TestimonialsData.SectionDescription</p>
    </div><!-- End Section Title -->

    <div class="container">
        <div class="swiper init-swiper" data-speed="600" data-delay="5000">
            <div class="swiper-wrapper">
                @foreach (var testimonial in TestimonialsData.Testimonials)
                {
                    <div class="swiper-slide">
                        <TestimonialItem Quote="@testimonial.Quote" ImageUrl="@testimonial.ImageUrl" Name="@testimonial.Name" Title="@testimonial.Title" />
                    </div><!-- End testimonial item -->
                }
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>

