@using StrongerSoftworks.Components.Common

@code {
    [Parameter] public string Quote { get; set; }
    [Parameter] public string ImageUrl { get; set; }
    [Parameter] public string Name { get; set; }
    [Parameter] public string Title { get; set; }
}

<div class="testimonial-item">
    <p>
        <i class="bi bi-quote quote-icon-left"></i>
        <span>@Quote</span>
        <i class="bi bi-quote quote-icon-right"></i>
    </p>
    <Picture ImageUrl="@ImageUrl" AltText="@Name" CssClass="testimonial-img" />
    <h3>@Name</h3>
    <h4>@Title</h4>
</div>
