@using StrongerSoftworks.Models

@code {
    [Parameter] public FeaturesSectionModel FeaturesData { get; set; }
}

<section id="@(FeaturesData.Id ?? "features")" class="features section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>@FeaturesData.SectionTitle</h2>
        <p>@FeaturesData.SectionDescription</p>
    </div><!-- End Section Title -->

    <div class="container">
        <div class="row gy-4 justify-content-between">
            <div class="features-image col-lg-5 order-lg-2 d-flex align-items-center" data-aos="fade-up" data-aos-delay="100">
                <img src="@FeaturesData.ImageUrl" class="img-fluid" alt="Features Image">
            </div>
            <div class="col-lg-6 d-flex flex-column justify-content-center">
                @foreach (var feature in FeaturesData.FeatureItems)
                {
                    <div class="features-item d-flex mt-5 ps-0 ps-lg-3" data-aos="fade-up" data-aos-delay="@(200 + (100 * FeaturesData.FeatureItems.IndexOf(feature)))">
                        <i class="@feature.IconClass flex-shrink-0"></i>
                        <div>
                            <h4>@feature.Title</h4>
                            <p>@feature.Description</p>
                        </div>
                    </div>

                    <!-- End Features Item-->
                }
            </div>
        </div>
    </div>

    <div class="container">
        <p>@FeaturesData.LowerDescription</p>
    </div>
</section>

