@code {
    [Parameter] public string ImageUrl { get; set; }
    [Parameter] public string Title { get; set; }
    [Parameter] public string Description { get; set; }
    [Parameter] public string DetailsUrl { get; set; }
}

<div class="portfolio-content h-100">
    <a href="@ImageUrl" data-gallery="portfolio-gallery" class="glightbox">
        <img src="@ImageUrl" class="img-fluid" alt="@Title">
    </a>
    <div class="portfolio-info">
        <h4><a href="@DetailsUrl" title="More Details">@Title</a></h4>
        <p>@Description</p>
    </div>
</div>
