@using System.Web
@using System.Text.RegularExpressions
@using StrongerSoftworks.Models

<div class="accordion-item">
    <h3 class="accordion-header" id="@("heading" + name)">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#@("collapse" + name)" aria-expanded="false" aria-controls="@("collapse" + name)">
            @Faq.Question
        </button>
    </h3>
    <div id="@("collapse" + name)" class="accordion-collapse collapse" aria-labelledby="@("heading" + name)"
         data-bs-parent="#faqAccordion">
        <div class="accordion-body">
            <p>
                @Faq.Answer
            </p>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public FaqItemModel Faq { get; set; }

    private string name = "";

    protected override void OnParametersSet()
    {
        Regex rgx = new Regex("[^a-zA-Z0-9_-]");
        name = rgx.Replace(Faq.Question.ToLower(), string.Empty);

        base.OnParametersSet();
    }
}
