@using Microsoft.AspNetCore.Components.Forms
@using StrongerSoftworks.Models

<section id="@(ContactData.Id ?? "contact")" class="contact section">
    <div class="container section-title">
        <h2>Contact</h2>
        <p>Start the Conversation – Let Us Help!</p>
    </div>

    <div class="container" >
        <div class="row gy-4 justify-content-center">
            <div class="col-lg-10">
                <div class="row gy-4">
                    @for (int i = 0; i < ContactData.ContactInfos.Count(); i++)
                    {
                        <div class="col-md-6">
                            <div class="info-item" data-aos="fade" data-aos-delay="@(100+(i*100))">
                                <i class="@ContactData.ContactInfos[i].Icon"></i>
                                <h3>@ContactData.ContactInfos[i].Title</h3>
                                <p>@ContactData.ContactInfos[i].DetailLine1</p>
                                <p>@ContactData.ContactInfos[i].DetailLine2</p>
                            </div>
                        </div>
                    }
                </div>
            </div>

            <div class="col-lg-10">
                <form method="post" action="https://api.charbcloud.com/v1/contact" class="contact-form">
                    <div class="row gy-4">
                        <div class="col-md-6">
                            <input id="name" name="name" type="text" class="form-control" placeholder="Your Name" required />
                        </div>

                        <div class="col-md-6">
                            <input id="email" name="email" type="email" class="form-control" placeholder="Your Email" required />
                        </div>

                        <div class="col-12">
                            <textarea id="message" name="message" class="form-control" rows="6" placeholder="Message" required />
                        </div>

                        <div class="col-12 text-center">
                            <div class="loading" hidden>Loading</div>
                            <div class="error-message" hidden>Error sending message.</div>
                            <div class="sent-message" hidden>Your message has been sent. Thank you!</div>

                            <button type="submit">Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@code {
    [Parameter] public ContactSectionModel ContactData { get; set; }
}
