@using StrongerSoftworks.Models

@code {
    [Parameter] public ServicesSectionModel ServicesData { get; set; }
}

<section id="@(ServicesData.Id ?? "services")" class="services section">
    <!-- Section Title -->
    <div class="container section-title">
        <h2>@ServicesData.SectionTitle</h2>
        <p>@ServicesData.SectionDescription</p>
    </div><!-- End Section Title -->

    <div class="container">
        <div class="row gy-4">
            @foreach (var service in ServicesData.ServiceItems)
            {
                <div class="col-xl-4 col-lg-6">
                    <ServiceItem Title="@service.Title" Description="@service.Description" IconClass="@service.IconClass" Link="@service.Link" />
                </div>
            }
        </div>
    </div>
</section>
