@using StrongerSoftworks.Models

@code {
    [Parameter] public PricingSectionModel PricingData { get; set; }
}

<section id="@(PricingData.Id ?? "pricing")" class="pricing section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>@PricingData.SectionTitle</h2>
        <p>@PricingData.SectionDescription</p>
    </div><!-- End Section Title -->

    <div class="container">
        <div class="row gy-4">
            @foreach (var item in PricingData.PricingItems)
            {
                <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="@(100 * PricingData.PricingItems.IndexOf(item))">
                    <div class="pricing-item @(item.IsFeatured ? "featured" : "")">
                        <h3>@item.PlanName</h3>
                        <h4><sup>$</sup>@item.Price<span>@item.Frequency</span></h4>
                        <ul>
                            @if (item.Features != null)
                            {
                                @foreach (var feature in item.Features)
                                {
                                    <li><i class="bi bi-check"></i> <span>@feature</span></li>
                                }
                            }
                            @if (item.ExcludedFeatures != null)
                            {
                                @foreach (var excludedFeature in item.ExcludedFeatures)
                                {
                                    <li class="na"><i class="bi bi-x"></i> <span>@excludedFeature</span></li>
                                }
                            }
                        </ul>
                        @if (item.Addons != null)
                        {
                            <h6>Add-ons</h6>
                            <ul>
                            @foreach (var addon in item.Addons)
                            {
                                <li><span>@addon</span></li>
                            }
                            </ul>
                        }
                        <a href="#@PricingData.CallToActionTarget" class="buy-btn">@PricingData.CallToAction</a>
                    </div>
                </div>

                <!-- End Pricing Item -->
            }
        </div>
    </div>
</section>
