@code {
    [Parameter] public StatsSectionModel StatsData { get; set; }
}

<section id="@(StatsData.Id ?? "stats")" class="stats section accent-background">
    <div class="container position-relative">
        <div class="row gy-4">
            @foreach (var item in StatsData.StatsItems)
            {
                <div class="col-lg-3 col-md-6">
                    <StatsItem StartValue="@item.StartValue" EndValue="@item.EndValue" Duration="@item.Duration" Label="@item.Label" />
                </div>
            }
        </div>
    </div>
</section>

