@code {
    [Parameter] public required TeamSectionModel TeamData { get; set; }

    private PhotoSize[] teamMemberPhotoSizes = [
        new PhotoSize() { Breakpoint = 576, Width = 160 },
        new PhotoSize() { Breakpoint = 768, Width = 200 },
    ];
}

<section id="@(TeamData.Id ?? "team")" class="team section">
    <div class="container section-title" >
        <h2>Team</h2>
        @* <p></p> *@
    </div>

    <div class="container">
        <div class="row gy-4 justify-content-center">
            @foreach (var member in TeamData.TeamMembers)
            {
                <div class="col-xl-4 col-lg-6 d-flex align-items-stretch">
                    <div class="team-member pt-3">
                        <div class="member-img">
                            @if(member.ImageUrl != null) {
                                <Picture Model="@(new PictureModel()
                                                {
                                                    ImageUrl = member.ImageUrl,
                                                    AltText = member.Name,
                                                    Sizes = teamMemberPhotoSizes,
                                                    Width = 200
                                                })" />
                            } else {
                                <div class="no-img"></div>
                            }
                            <div class="social">
                                @foreach (var social in member.SocialLinks)
                                {
                                    <a href="@social.Url" aria-label="Link to social media account"><i class="@social.IconClass"></i></a>
                                }
                            </div>
                        </div>
                        <div class="member-info">
                            <h3>@member.Name</h3>
                            <p>@member.Description</p>
                        </div>
                    </div>
                </div>

                <!-- End Team Member -->
            }
        </div>
    </div>
</section>
