@using StrongerSoftworks.Models
@using StrongerSoftworks.Components.Common

@code {
    [Parameter] public FeaturesSectionModel FeaturesData { get; set; }
    private PhotoSize[] featureImageSizes = [
        new PhotoSize() { Breakpoint = 576, Width = 480 },
        new PhotoSize() { Breakpoint = 992, Width = 480 },
    ];

    private PictureModel pictureModel;

    protected override void OnParametersSet() {
        pictureModel = new PictureModel()
        {
            ImageUrl = FeaturesData.ImageUrl,
            AltText = "Features Image",
            Width = 480,
            Sizes = featureImageSizes
        };
        base.OnParametersSet();
    }
}

<section id="@(FeaturesData.Id ?? "features")" class="features section">
    <div class="container section-title">
        <h2>@FeaturesData.SectionTitle</h2>
        <p>@FeaturesData.SectionDescription</p>
    </div>

    <div class="container">
        <div class="row gy-4 d-flex justify-content-center">
            @foreach (var feature in FeaturesData.FeatureItems)
            {
                <div class="features-item col-lg-6 d-flex mt-5 ps-lg-3" data-aos="fade-left" data-aos-delay="100">
                    <i class="@feature.IconClass flex-shrink-0" data-aos="flip-left" data-aos-delay="300"></i>
                    <div>
                        <h3>@feature.Title</h3>
                        <p>@feature.Description</p>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="container mt-5">
        <div class="row align-items-center">
            <div class="col-md-6 order-1 order-md-2 content text-center text-md-start">
                <p>@FeaturesData.LowerDescription</p>
            </div>

            <div class="col-md-6 order-2 order-md-1 d-flex flex-column align-items-center">
                <Picture Model="@pictureModel" />
            </div>
        </div>
    </div>

</section>
